
::ng-deep tbody {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: 700;
  }
  ::ng-deep label {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: 700;
    font-size: large;
    }
